.ListaSuspensa{

}

.ListaSuspensa select{
    bottom: 10px;
    background-color: white;
    box-shadow: 10px 10px 30px black;
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 10px; 
}